.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--notification-height);
    padding: 0 16px;
    font-size: var(--font-size-small);
    background-color: var(--red);
    color: var(--white);
}
