.wrapper {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 16px; 
    height: var(--content-height);
}

.link {
    width: 100%; 
    height: 33.333333%; 
    padding: 24px; 
    background-size: cover; 
    text-decoration: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

.title {
    font-size: var(--font-size-large);
    line-height: 30px; 
    font-weight: var(--font-weight-semi-bold); 
    text-transform: uppercase; 
}

.desc {
    margin: 16px 0;
    font-size: var(--font-size-small);
    line-height: 1.25rem; 
}

.button {
    display: none; 
    padding: 8px 16px;
    border:none;
    border-radius: 2px; 
    font-weight: var(--font-weight-semi-bold);
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}


@media (min-width: 768px) { 
    .wrapper{
        flex-direction: row; 
        height: calc(100vh-9rem);
    }

    .link {
        height: 50%;
        padding: 32px;
    }

}

@media (min-width: 1280px) { 
    .wrapper{
        padding-left: 10rem;
        padding-right: 10rem; 
    }

    .button {
        display: block;
    }
}