.wrapper {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-around;
    height: var(--content-height);
    color: var(--red);
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 50%;
}

.title {
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--red);
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }

    .imageWrapper {
        height: 70%;
    }

    .info {
        gap: 20px;
        justify-content: center;
        height: 70%;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        padding: 0 60px;
    }
}
