.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: var(--navbar-height);
    border-bottom: 2px solid var(--red);
    color: var(--red);
    text-transform: uppercase;
}

.logo {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-semi-bold);
}

.logo a {
    text-decoration: none;
}

.mobileMenuWrapper{
    display: flex;
}

.desktopMenu {
    display: none;
}

@media (min-width: 768px) {

    .mobileMenuWrapper {
        display: none;
    }

    .desktopMenu {
        display: flex;
        align-items: center;
        gap: 32px;
    }
}
